.accordion {
  &__details[open] + &__content {
    grid-template-rows: 1fr;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;

    & > div {
      overflow: hidden;
    }
  }
}
